*{
  box-sizing: border-box;
}


body {
  background-color: #e0f7fa;
}

.row {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

input.form-control, input.form-control:focus {
  background-color: #e0f7fa;
  color: black;
  border-color: black;
  border-radius: 0px;
  border-width: 2px;
}

input.form-control:focus {
  box-shadow: none;
  border-bottom-color: black;
}

button[type=submit].btn {
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}

div.form-group label {
  color: black;
  font-weight: bold;
}

div.form-group.required > label:first-child:after {
  content: '*';
  color: #dc3545;
  padding-left: 5px;
}

form {
  margin: 0px 16px;
}

div.side-header {
  border: 3px solid black;
  padding: 15px;
  background-color: #e3f2fd;
}

#toast-container > div {
  opacity:1;
}

.jumbotron{
  position: relative;
  background: #80deea;
  margin-top: 0px;
  padding-left: -4px;
  padding-right: -4px;
  text-align:center;
  margin-bottom: 0 !important;
}

.container-fluid{
  padding-right:4px !important;
  padding-left: 4px !important;
  padding-bottom: 4px !important;
}

