<mat-expansion-panel>
    <mat-expansion-panel-header>
        James Bond
    </mat-expansion-panel-header>
    <mat-list-item>
        <mat-icon>movie</mat-icon>
        <p matLine>
            <input type="checkbox" name="watched" value="watched_true">Watched<br>
        </p>
        <p>
            <input type="number" name="rating">Rating<br>
        </p>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod.
            Donec sed odio dui.
        </p>
    </mat-list-item>
</mat-expansion-panel>