<div class="list-group-item" *ngFor="let list of lists">
    <h4 class="list-group-item-heading">
        {{list.name}}
    </h4>
    <h6>Created {{list.dateAdded}}</h6>

    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" placeholder="Search for...">
            <form>
                <button class="btn btn-secondary" type="button">Go!</button>
            </form>
        </div>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-warning" type="button" (click)="deleteList(list.name)">Delete list</button>
    </div>

    <app-movies-movieitem a="b"></app-movies-movieitem>

</div>