.btn-group-sm {
    border-radius: 25px;
    background-color: #18ffff !important;
    color: #fff !important;
    padding: 5px !important;
}

.list_forms{
    display: flex;
    align-items: center;
}