<div class="list-group-item" *ngFor="let list of lists">
    <div class="row">
        <div class="row">
            <h4 class="list-group-item-heading">
                {{list.name}}
            </h4>
            <input type="text" #newname placeholder="Rename list to...">
            <form>
                <button class="btn btn-secondary" (click)="editListName(list.name, newname.value)"
                    type="button">Rename</button>
            </form>
        </div>

        <h6>Created {{list.dateAdded}}</h6>

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" (keydown)="searchOmdb($event, list)" placeholder="Search for...">
                <form>
                    <button class="btn btn-secondary" type="button" (click)="addSearchedMovie(list)">Add movie</button>
                </form>
            </div>

            <div *ngFor="let searchedMovie of list.searchlist">
                <h4>{{searchedMovie.Title}}</h4>
                <p>
                    {{searchedMovie.Plot}}
                </p>
            </div>
        </div>
        <button class="btn btn-warning" type="button" (click)="deleteList(list.name)">Delete list</button>

        <div class="col-lg-12">
            <div class="list-group-item" *ngFor="let movie of list.movielist">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h6>{{movie.title}}</h6>
                    </mat-expansion-panel-header>
                    <mat-list-item>
                        <div class="row">
                            <p>
                                Release Date: {{movie.releaseDate}}
                            </p>
                        </div>

                        <h6>My rating</h6>
                        <ngb-rating [(ngModel)]="movie.rating" [(rate)]="movie.rating" [readonly]="readonly"
                            (click)="updateRating(movie)"></ngb-rating>
                        <pre>Current Rating: <b>{{movie.rating}}</b></pre>


                        <h6>Description</h6>
                        <p>
                            {{movie.description}}
                        </p>
                        <p><button class="btn btn-warning" type="button" (click)="deleteMovie(movie.id)">Delete
                                movie</button></p>
                    </mat-list-item>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>